<header class="container">
  <app-navbar variant="home"></app-navbar>
</header>

<main>
  <div class="hero">
    <div class="hero-overlay"></div>
    <div class="container hero-content">
      <h1>Bateu aquela fome?</h1>
      <h2>Faça seu pedido</h2>
      <div class="button-container">
        <a [routerLink]="['/menu']" class="btn btn-primary">Acessar cardápio</a>
        <a [routerLink]="['/saiba-mais']" class="btn btn-transparent">Saiba mais</a>
      </div>
    </div>
  </div>

  <div class="container footer">
    <p class="opening-hours">Abrimos hoje às 19:00</p>
    <div class="social-icons">
      <a href="#" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
</main>